### APS ###
- name: deploy_lago
  default: "False"
  description: "Deploy Lago payment system"

- name: deploy_opencost
  default: "False"
  description: "Deploy Opencost cost monitoring system"

- name: deploy_prometheus
  default: "True"
  description: "Deploy Prometheus system monitoring system"

- name: deploy_langfuse
  default: "False"
  description: "Deploy Langfuse LLM tracing system"

######

### VARIABLES ###

- name: kalavai_api_endpoint
  default: https://platform.kalavai.net/_/api
  description: ""

- name: prometheus_endpoint
  default: http://prometheus-server.prometheus-system.svc.cluster.local:80
  description: ""

- name: opencost_endpoint
  default: http://opencost.opencost.svc.cluster.local:9003
  description: ""

- name: longhorn_manager_endpoint
  default: http://longhorn-backend.kalavai.svc.cluster.local:9500
  description: ""

- name: helios_harvest_interval
  default: 120
  description: "Interval (minutes) at which to report resource usage in public pools"

- name: watcher_is_shared_pool
  default: "True"
  description: "All users see each other's work"

## Longhorn
- name: longhorn_ui_port
  default: 30000
  description: ""

- name: longhorn_manager_port
  default: "" #31011
  description: ""

- name: longhorn_minimal_available_percentage
  default: 5
  description: ""

- name: longhorn_label_selector_key
  default: "kalavai.storage.enabled"
  description: ""

- name: longhorn_label_selector
  default: "True"
  description: ""

- name: longhorn_replicas
  default: 2
  description: ""

## MinIO
- name: minio_replicas
  default: 2
  description: ""

- name: minio_resources_memory
  default: "1Gi"
  description: ""

- name: minio_persistence_storageClass
  default: "longhorn"
  description: ""

- name: minio_persistence_size
  default: "10Gi"
  description: ""

- name: minio_service_port
  default: 32000
  description: ""

- name: minio_console_port
  default: 32001
  description: ""

- name: minio_rootUser
  default: "admin"
  description: ""

- name: minio_rootPassword
  default: "password"
  description: ""

# LANGFUSE
- name: langfuse_postgresql_password
  default: "db_password"
  description: ""

- name: langfuse_clickhouse_password
  default: "ch_password"
  description: ""

- name: langfuse_redis_password
  default: "redis_password"
  description: ""

- name: langfuse_service_port
  default: 30200
  description: ""