server:
  platform: "amd64"
  ip_address: null
  location: null
  name: "kalavai_cluster"
  mtu: ""
  watcher_image_tag: "2026.2.2"
  host_root_path: "/hostroot"

core:
  # Deploy systems
  deploy: []
  #- rocm
  #- lago
  #- opencost
  #- monitoring
  #- minio
  # "Kalavai API"
  kalavai_api_version: null
  # "Global"
  kalavai_role_label: "kalavai/role"
  # "Opencost endpoint"
  opencost_endpoint: "http://opencost.opencost.svc.cluster.local:9003"
  # "Longhorn manager endpoint"
  longhorn_manager_endpoint: "http://longhorn-backend.kalavai.svc.cluster.local:9500"
  # "Helios harvest interval"
  helios_harvest_interval: 120
  # "Watcher is shared pool"
  watcher_is_shared_pool: "True"
  watcher_resources_memory: 512Mi
  watcher_resources_cpu: 0.5
  watcher_replicas: 1
  # "Prometheus and opencost"
  prometheus_service_name: prometheus-kube-prometheus-prometheus # switch to thanos if enabled
  prometheus_namespace: monitoring
  prometheus_port: 9090
  # "Prometheus server retention"
  prometheus_server_retention: "30d"
  prometheus_disk_size: "8Gi"
  prometheus_externalLabel_cluster: kalavai-prod
  # Thanos
  thanos_s3_access_key: ""
  thanos_s3_secret_key: ""
  thanos_s3_endpoint: s3.fr-par.scw.cloud
  thanos_s3_region: fr-par
  thanos_s3_bucket: prod-monitoring
  thanos_query_replicas: 1
  thanos_query_frontend_replicas: 1
  thanos_store_replicas: 1
  thanos_bucket_replicas: 1
  # Thanos retention on s3
  thanos_retention_raw: "30d"
  thanos_retention_5m: "45d"
  thanos_retention_1h: "70d"
  # "Longhorn UI port"
  longhorn_ui_port: 30000
  # "Longhorn manager port"
  longhorn_manager_port: "" #31011
  # "Longhorn minimal available percentage"
  longhorn_minimal_available_percentage: 5
  # "Longhorn label selector key"
  longhorn_label_selector_key: "kalavai.storage.enabled"
  # "Longhorn label selector"
  longhorn_label_selector: "True"
  # "Longhorn replicas"
  longhorn_replicas: 2
  # "MinIO replicas"
  minio_replicas: 2
  # "MinIO resources memory"
  minio_resources_memory: "1Gi"
  # "MinIO persistence storage class"
  minio_persistence_storageClass: "longhorn"
  # "MinIO persistence size"
  minio_persistence_size: "10Gi"
  # "MinIO service port"
  minio_service_port: 32000
  # "MinIO console port"
  minio_console_port: 32001
  # "MinIO root user"
  minio_rootUser: "admin"
  # "MinIO root password"
  minio_rootPassword: "password"
  # GPU
  gpu_deviceSplitCount: 4
  gpu_nodeSchedulerPolicy : binpack
  gpu_gpuSchedulerPolicy : binpack

pool:
  # Name of the storage class to use for the pool
  storage_class_name: "longhorn"
  