services:
{% if vpn %}
  {{vpn_name}}:
    image: gravitl/netclient:v0.90.0
    container_name: {{vpn_name}}
    #privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    network_mode: host
    # networks:
    # - custom-network
    # ports:
    # # https://docs.k3s.io/installation/requirements#inbound-rules-for-k3s-nodes
    # - "6443:6443" # kube server
    # - "10250:10250" # worker balancer
    # - "8472:8472/udp" # flannel vxlan
    # - "51820-51830:51820-51830" # flannel wireguard
    # {% if command == "server" %}
    # - "30000-30500:30000-30500"
    # {% endif %}
    environment:
      - HOST_NAME={{node_name}}
      - IFACE_NAME={{flannel_iface}}
      - TOKEN={{vpn_token}}
    volumes:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
#   nginx:
#     image: nginx:latest
#     ports:
#       - "{{redirect_source_port}}:{{redirect_source_port}}"
#     restart: unless-stopped
#     networks:
#       - custom-network
#     volumes:
#       - {{nginx_path}}/nginx.conf:/etc/nginx/nginx.conf
{% endif %}

# run worker only if command is set
{%if command %}
  {{service_name}}:
    image: docker.io/bundenth/kalavai-runner:gpu-latest
    container_name: {{service_name}}
  {% if vpn %}
    depends_on:
    - {{vpn_name}}
    network_mode: "service:{{vpn_name}}"
  {% else %}
    network_mode: host
    # hostname: {{node_name}}
    # networks:
    # - custom-network
    # ports:
    # - "6443:6443" # kube server
    # - "2379-2380:2379-2380" # etcd server
    # - "10259:10259" # kube scheduler
    # - "10257:10257" # kube controller manager
    # - "10250:10250" # worker balancer
    # - "8285:8285" # flannel
    # - "8472:8472" # flannel vxlan
    # - "51820:51820" # flannel wireguard
    # {% if command == "server" %}
    # - "30000-32767:30000-32767"
    # {% endif %}
  {% endif %}
    privileged: true
    restart: unless-stopped
    command: >
      --command={{command}}
      --node_name="{{node_name}}"
      --node_ip="{{node_ip_address}}"
      {% if command == "server" %}
      --port_range="30000-32767"
      {% else %}
      --server_ip={{pool_ip}}
      --token={{pool_token}}
      {% endif %}
      {%if vpn %}
      --flannel_iface={{flannel_iface}}
      {% endif %}
      {% if num_gpus and num_gpus > 0 %}
      --gpu=on
      {% else %}
      --gpu=off
      {% endif %}
      {% if node_labels %}
      --extra="{{node_labels}}"
      {% endif %}

    # volumes:
    # - {{k3s_path}}:/var/lib/rancher/k3s # Persist data
    # - {{etc_path}}:/etc/rancher/k3s # Config files

  {% if num_gpus and num_gpus > 0 %}
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: {{num_gpus}}
            capabilities: [gpu]
  {% endif %}
{% endif %}

# networks:
#   custom-network:
#     driver: bridge

