pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #f0f3f3; }
.codehilite .c { color: #09F; font-style: italic } /* Comment */
.codehilite .err { color: #A00; background-color: #FAA } /* Error */
.codehilite .k { color: #069; font-weight: bold } /* Keyword */
.codehilite .o { color: #555 } /* Operator */
.codehilite .ch { color: #09F; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #09F; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #099 } /* Comment.Preproc */
.codehilite .cpf { color: #09F; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #09F; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #09F; font-weight: bold; font-style: italic } /* Comment.Special */
.codehilite .gd { background-color: #FCC; border: 1px solid #C00 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #F00 } /* Generic.Error */
.codehilite .gh { color: #030; font-weight: bold } /* Generic.Heading */
.codehilite .gi { background-color: #CFC; border: 1px solid #0C0 } /* Generic.Inserted */
.codehilite .go { color: #AAA } /* Generic.Output */
.codehilite .gp { color: #009; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #030; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #9C6 } /* Generic.Traceback */
.codehilite .kc { color: #069; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #069; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #069; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #069 } /* Keyword.Pseudo */
.codehilite .kr { color: #069; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #078; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #F60 } /* Literal.Number */
.codehilite .s { color: #C30 } /* Literal.String */
.codehilite .na { color: #309 } /* Name.Attribute */
.codehilite .nb { color: #366 } /* Name.Builtin */
.codehilite .nc { color: #0A8; font-weight: bold } /* Name.Class */
.codehilite .no { color: #360 } /* Name.Constant */
.codehilite .nd { color: #99F } /* Name.Decorator */
.codehilite .ni { color: #999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #C00; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #C0F } /* Name.Function */
.codehilite .nl { color: #99F } /* Name.Label */
.codehilite .nn { color: #0CF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #309; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #033 } /* Name.Variable */
.codehilite .ow { color: #000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #BBB } /* Text.Whitespace */
.codehilite .mb { color: #F60 } /* Literal.Number.Bin */
.codehilite .mf { color: #F60 } /* Literal.Number.Float */
.codehilite .mh { color: #F60 } /* Literal.Number.Hex */
.codehilite .mi { color: #F60 } /* Literal.Number.Integer */
.codehilite .mo { color: #F60 } /* Literal.Number.Oct */
.codehilite .sa { color: #C30 } /* Literal.String.Affix */
.codehilite .sb { color: #C30 } /* Literal.String.Backtick */
.codehilite .sc { color: #C30 } /* Literal.String.Char */
.codehilite .dl { color: #C30 } /* Literal.String.Delimiter */
.codehilite .sd { color: #C30; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #C30 } /* Literal.String.Double */
.codehilite .se { color: #C30; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #C30 } /* Literal.String.Heredoc */
.codehilite .si { color: #A00 } /* Literal.String.Interpol */
.codehilite .sx { color: #C30 } /* Literal.String.Other */
.codehilite .sr { color: #3AA } /* Literal.String.Regex */
.codehilite .s1 { color: #C30 } /* Literal.String.Single */
.codehilite .ss { color: #FC3 } /* Literal.String.Symbol */
.codehilite .bp { color: #366 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #C0F } /* Name.Function.Magic */
.codehilite .vc { color: #033 } /* Name.Variable.Class */
.codehilite .vg { color: #033 } /* Name.Variable.Global */
.codehilite .vi { color: #033 } /* Name.Variable.Instance */
.codehilite .vm { color: #033 } /* Name.Variable.Magic */
.codehilite .il { color: #F60 } /* Literal.Number.Integer.Long */