pre { line-height: 125%; }
td.linenos .normal { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #3B4252 }
.codehilite { background: #2E3440; color: #D8DEE9 }
.codehilite .c { color: #616E87; font-style: italic } /* Comment */
.codehilite .err { color: #BF616A } /* Error */
.codehilite .esc { color: #D8DEE9 } /* Escape */
.codehilite .g { color: #D8DEE9 } /* Generic */
.codehilite .k { color: #81A1C1; font-weight: bold } /* Keyword */
.codehilite .l { color: #D8DEE9 } /* Literal */
.codehilite .n { color: #D8DEE9 } /* Name */
.codehilite .o { color: #81A1C1; font-weight: bold } /* Operator */
.codehilite .x { color: #D8DEE9 } /* Other */
.codehilite .p { color: #ECEFF4 } /* Punctuation */
.codehilite .ch { color: #616E87; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #616E87; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #5E81AC; font-style: italic } /* Comment.Preproc */
.codehilite .cpf { color: #616E87; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #616E87; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #616E87; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #BF616A } /* Generic.Deleted */
.codehilite .ge { color: #D8DEE9; font-style: italic } /* Generic.Emph */
.codehilite .ges { color: #D8DEE9; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #BF616A } /* Generic.Error */
.codehilite .gh { color: #88C0D0; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #A3BE8C } /* Generic.Inserted */
.codehilite .go { color: #D8DEE9 } /* Generic.Output */
.codehilite .gp { color: #616E88; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { color: #D8DEE9; font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #88C0D0; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #BF616A } /* Generic.Traceback */
.codehilite .kc { color: #81A1C1; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #81A1C1; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #81A1C1; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #81A1C1 } /* Keyword.Pseudo */
.codehilite .kr { color: #81A1C1; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #81A1C1 } /* Keyword.Type */
.codehilite .ld { color: #D8DEE9 } /* Literal.Date */
.codehilite .m { color: #B48EAD } /* Literal.Number */
.codehilite .s { color: #A3BE8C } /* Literal.String */
.codehilite .na { color: #8FBCBB } /* Name.Attribute */
.codehilite .nb { color: #81A1C1 } /* Name.Builtin */
.codehilite .nc { color: #8FBCBB } /* Name.Class */
.codehilite .no { color: #8FBCBB } /* Name.Constant */
.codehilite .nd { color: #D08770 } /* Name.Decorator */
.codehilite .ni { color: #D08770 } /* Name.Entity */
.codehilite .ne { color: #BF616A } /* Name.Exception */
.codehilite .nf { color: #88C0D0 } /* Name.Function */
.codehilite .nl { color: #D8DEE9 } /* Name.Label */
.codehilite .nn { color: #8FBCBB } /* Name.Namespace */
.codehilite .nx { color: #D8DEE9 } /* Name.Other */
.codehilite .py { color: #D8DEE9 } /* Name.Property */
.codehilite .nt { color: #81A1C1 } /* Name.Tag */
.codehilite .nv { color: #D8DEE9 } /* Name.Variable */
.codehilite .ow { color: #81A1C1; font-weight: bold } /* Operator.Word */
.codehilite .pm { color: #ECEFF4 } /* Punctuation.Marker */
.codehilite .w { color: #D8DEE9 } /* Text.Whitespace */
.codehilite .mb { color: #B48EAD } /* Literal.Number.Bin */
.codehilite .mf { color: #B48EAD } /* Literal.Number.Float */
.codehilite .mh { color: #B48EAD } /* Literal.Number.Hex */
.codehilite .mi { color: #B48EAD } /* Literal.Number.Integer */
.codehilite .mo { color: #B48EAD } /* Literal.Number.Oct */
.codehilite .sa { color: #A3BE8C } /* Literal.String.Affix */
.codehilite .sb { color: #A3BE8C } /* Literal.String.Backtick */
.codehilite .sc { color: #A3BE8C } /* Literal.String.Char */
.codehilite .dl { color: #A3BE8C } /* Literal.String.Delimiter */
.codehilite .sd { color: #616E87 } /* Literal.String.Doc */
.codehilite .s2 { color: #A3BE8C } /* Literal.String.Double */
.codehilite .se { color: #EBCB8B } /* Literal.String.Escape */
.codehilite .sh { color: #A3BE8C } /* Literal.String.Heredoc */
.codehilite .si { color: #A3BE8C } /* Literal.String.Interpol */
.codehilite .sx { color: #A3BE8C } /* Literal.String.Other */
.codehilite .sr { color: #EBCB8B } /* Literal.String.Regex */
.codehilite .s1 { color: #A3BE8C } /* Literal.String.Single */
.codehilite .ss { color: #A3BE8C } /* Literal.String.Symbol */
.codehilite .bp { color: #81A1C1 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #88C0D0 } /* Name.Function.Magic */
.codehilite .vc { color: #D8DEE9 } /* Name.Variable.Class */
.codehilite .vg { color: #D8DEE9 } /* Name.Variable.Global */
.codehilite .vi { color: #D8DEE9 } /* Name.Variable.Instance */
.codehilite .vm { color: #D8DEE9 } /* Name.Variable.Magic */
.codehilite .il { color: #B48EAD } /* Literal.Number.Integer.Long */